{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% assign is_active = false %}
            {% else %}
              {% assign domain = base_path %}
              {% assign link_url = link.url | remove: "index.html" %}
              {% assign current_url = page.url | remove: "index.html" %}
              {% assign is_active = false %}
              {% if current_url == link_url %}
                {% assign is_active = true %}
              {% elsif link_url != "/" and current_url contains link_url %}
                {% assign is_active = true %}
              {% endif %}
            {% endif %}
            <li class="masthead__menu-item{% if is_active %} masthead__menu-item--active{% endif %}">
              <a href="{{ domain }}{{ link.url }}"{% if is_active %} aria-current="page"{% endif %}>{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
